<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%blue(%d{HH:mm:ss.SSS}) %highlight(%level) %cyan(%logger{16}) %thread %message %xException%n%nopex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- application -->
    <logger name="com.example" level="DEBUG" />

    <!-- jooq -->
    <logger name="org.jooq" level="debug" />
    <logger name="org.jooq.Constants" level="off" />

    <!-- log4jdbc -->
    <logger name="jdbc" level="off" />
    <logger name="jdbc.audit" level="info" />
    <!--<logger name="jdbc.sqlonly" level="info" />-->

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
